<div class="main-wrapper">
    <section class="form-wrapper">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-5">
                  <div class="form-div text-center">
                      <h2>404</h2>
                      <p>Page not found</p>
                      <form action="#">
                          <div class="form-group button-block text-center">
                            <button routerLink='/' class="form-btn">Go Home</button>
                          </div>
                          
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </section> 
  </div>
  
  